**/.DS_Store
.vscode
**.env
**/*.backup*
docker-vol
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**.tfvars
**/*.pem
**/server.privatekey
**/server.publickey
**/client.privatekey
**/client.publickey
**/id_rsa*
