**/.DS_Store
**.env
docker-vol
**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**.tfvars
**/*.pem
**/server.privatekey
**/server.publickey
**/peer.privatekey
**/peer.publickey
**/id_rsa
**/id_rsa.pub
